
@font-face {
    font-family: "Press Start 2P";
    src: url("/fonts/PressStart2P-Regular.ttf");
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

body {
  padding: 0 2rem;
  margin: 2rem;
  font-size: 14px;
}

nav {
    margin-bottom: 2rem;
}

* {
    cursor:auto !important;
}

a, a * {
    cursor:pointer !important;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 1em 1em 2em 1em;
}

.border-blue {
    border-color: #006bb3 !important;
}

.border-green {
    border-color: #4aa52e !important;
}

.border-yellow {
    border-color: #e59400 !important;
}

.border-red {
    border-color: #ce372b !important;
}

.border-gray {
    border-color: #e4e4e4 !important;
}

.nes-container:not(:last-child) {
    margin-bottom: 1rem;
}

.small-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.full-width-container {
    width: 100%;
}

.small-card {
    width: max-content;
    margin-right: 2em !important;
    align-self: flex-start;
}

.post-card > a {
    text-decoration: none !important;
    text-decoration-color: none !important;
    color: #212529;
}
.post-card > a:hover {
    color: #212529;
}

.nes-btn.btn-expand-container {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    right: -4px;
}

.nes-badge.badge-big {
    width: 18em;
}

section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.container > h2 {
    width: 100%;
}

section.exp-container {
    margin-bottom: 1rem;
}

section.exp-container > section.nes-container {
    margin-bottom: 0px;
}


section.exp-container-code {
    display: none;
    position: relative;
    margin: 0;
}

section.exp-container-code > pre code {
    font-size: 13px;
    line-height: 1.5;
    padding-left: 1.5rem;
}

.subsection {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0em 1em 0em;
}

.subsection > p {
    width: 100%;
}

.subsection > h3 {
    width: 100%;
}

.subsection > img {
    max-width: 80%;
    margin: 1em;
}

#home-main {
    display: flex;
    justify-content: space-between;
}

