
body {
  padding: 0 2rem;
  margin: 2rem;
}

nav {
    margin-bottom: 2rem;
}

* {
    cursor:auto !important;
}

a, a * {
    cursor:pointer !important;
}


.border-blue {
    border-color: #006bb3 !important;
}

.border-green {
    border-color: #4aa52e !important;
}

.border-yellow {
    border-color: #e59400 !important;
}

.border-red {
    border-color: #ce372b !important;
}

.nes-container:not(:last-child) {
    margin-bottom: 1rem;
}

.small-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.small-card {
    width: max-content;
    margin-right: 2em !important;
    align-self: flex-start;
}

.nes-btn.btn-expand-container {
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    right: -4px;
}

section.exp-container {
    margin-bottom: 1rem;
}

section.exp-container > section.nes-container {
    margin-bottom: 0px;
}


section.exp-container-code {
    display: none;
    position: relative;
    margin: 0;
}

section.exp-container-code > pre code {
    font-size: 13px;
    line-height: 1.5;
    padding-left: 1.5rem;
}
