
body {
  padding: 0 2rem;
  margin: 2rem;
}

nav {
    margin-bottom: 2rem;
}

* {cursor:auto !important}

a, a * {cursor:pointer !important}


.border-blue {
  border-color: #006bb3 !important;
}

.border-green {
  border-color: #4aa52e !important;
}

.border-yellow {
  border-color: #e59400 !important;
}

.border-red {
  border-color: #ce372b !important;
}

.nes-container:not(:last-child) {
  margin-bottom: 1rem;
}
